<div class="container">

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-4 text-center">
                <h5><b>Site Haritası</b></h5>
                <hr />
                <a href="/Home/EnBegenilenler"><span class="glyphicon glyphicon-heart"></span>En Beğenilenler</a>
                <br />
                <a href="/Home/SonYazilanlar"><span class="glyphicon glyphicon-list"></span> Son Yazılanlar</a>
            </div>

            <div class="col-lg-4 text-center">
                <h5><b>Makale Web</b></h5>
                <hr />
                <p>Tüm hakları saklıdır &copy; MakaleWeb @DateTime.Now.Year </p>
            </div>

            <div class="col-lg-4 text-center">
                <h5><b>E-bülten üyeliği</b></h5>
                <hr />
                <div class="col-md-12">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="E-posta adresiniz">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Gönder</button>
                        </span>
                    </div>
                </div>

            </div>
        </div>
    </footer>

</div>
